<h2>Creación de usuario:</h2><br>

<input type="number" placeholder="ID" [(ngModel)]="id" class="form-control mb-4" />
<input type="text" placeholder="Nombre" [(ngModel)]="nombre" class="form-control mb-4" />
<input type="text" placeholder="Usuario" [(ngModel)]="usuario" class="form-control mb-4" />
<input type="email" placeholder="Email" [(ngModel)]="email" class="form-control mb-4" />
<input type="text" placeholder="Telefono" [(ngModel)]="telefono" class="form-control mb-4" />
<input type="text" placeholder="Website" [(ngModel)]="website" class="form-control mb-4" />

<button class="btn btn-primary" (click)="addUser()">Crear usuario</button>